/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	height: 1024px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}
#contact {
	width: 50%;
	margin: auto;
	display:flex;
	flex-direction: column;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

button {
	padding: 10px;
	font-family: 'Syne';
	font-weight: 400;
	color:#1D6154;
	background-color:white;
	text-align: center;
	border: 1px solid #1D6154;
	border-radius: 60px ;
}
.centrage {
	display: flex;
	justify-content: center;
	margin-bottom: 2em;
}
.logbutton {
	background-color:#1D6154;
	color: white;
	margin-top: 50px;
}
.gallery {
	max-width: 1020px;
	margin: auto;
}

.filt {
	min-width: 100px;
	margin-left: 10px;

}
button.filt:focus{
	color:white;
	background-color:#1D6154;
}
#portfolio {
	margin-top: 120px;
}
li a {
	text-decoration:none;
	color: black;
	;	
}
li a:hover {
	text-decoration:none;
	color: #B1663C;

}
#connexion{
	display: flex;
	flex-direction: column;
	width: 33%;
	padding-left: 33%;
	
}
#connexion h2{
	align-self: center;
}
#connexion label {
	text-align: left;
	margin-top:30px;
	margin: 2em 0 1em 0;
}
#connexion input {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 200px;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#connexion a {
	text-align: center;
	color: black;
	margin-top: 40px;
}
#login {
	align-self: center;
	width: 180px;
}
.fa-regular {
	padding-right: 10px;
}
.mod {
	padding-left: 30px;
	color: black;
	font-size: 0.4em;
	text-decoration: none;
}
#connexion span {
	text-align: center;
	padding-top: 20px;
	font-family: 'Syne';
	font-weight: 400;
	color:#1D6154;
}
.modEdit {
	display: flex;
	justify-content: center;
	width: 1440px;
	height: 40px;
	background-color: black;
	justify-items: center;
	margin-left: -150px;
	
}
#modEdition {
	padding-top: 20px;
	color:white;
}
.mention {
	justify-content: end;
}
#portfolio a{
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal {
	position: fixed;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	
}
.modal-wrapper {
	position:relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	width: 630px;
	height: 678px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
}
.modal-wrapper2 {
	display: grid;
	flex-direction: column;
	align-items: center;
	width: 630px;
	height: 678px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
}

.closeModale {
	margin-top: 30px;
	margin-left: 580px;
	margin-bottom: 0;
	padding: 0;
	font-size: 24px;
	background-color:none;
	border: none;
	color: black;
}
.alignement {
	display: flex;
	flex-direction: row;
	height: 60px;
	
}
.closeModale2 {
	margin-top: 30px;
	margin-left: 520px;
	height: 29px;
	padding: 0;
	font-size: 24px;
	background-color:none;
	border: none;
	color: black;
	border-radius: 0;
}
.returnModale {
	font-size: 24px;
	border: none;
	margin-left: 0;
	border-radius: 0;
}
.creer {
	border-color: #B3B3B3;
	background-color: #B3B3B3;
	color: white;
	width: 237px;
	margin-left: 105px;
	margin-top: 0;
}
.creer:focus {
	background-color: #1D6154;
}
.fa-solid {
	color:black;
	font-weight: 900;
	background-color: white;
	border: none;
}
.fa-xmark {
	margin-right: 30px;
}
.fa-arrow-left {
	margin-top: 23px;
	margin-left: 20px;
}
.title {
	margin-bottom: 30px;
	text-align: center;
	font-size: 26px;
}
#galerie {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 1px;
	grid-row-gap: 1px;
	width: 70%;
	height: 60%;
}
.ajoutPhoto {
	margin-top: 5px;
	width: 237px;
	color: white;
	background-color: #1D6154;
}
.alpha {
	flex-wrap: wrap;
	max-height:450px ;
}
.alpha img {
	flex-wrap: wrap;
	max-width:90%;
	max-height: 70%;
	margin: 6px;
}
#galerie .fa-solid {
	position: relative;
	bottom:103px;
	left: 20px;
	padding-left: 5px;
	background-color: black;
    color: white;
    height: 18px;
    width: 18px;
    border-radius: 3px;
    padding-top: 6px;
}
.beta {
	margin-top: 20px;
	margin-bottom: 30px;
	background-color:#B3B3B3 ;
	width: 430px;
	height: 1px;
}
.beta2 {
	margin-top: 50px;
	margin-bottom: 30px;
	background-color:#B3B3B3 ;
	width: 420px;
	height: 1px;
}
.formulaire {
	display: flex;
	flex-direction: column;
	width: 420px;
	
}
.deltaTitre {
	width: 420px;
	height: 51px;
	margin-top: 5px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
	border: none;
}
.deltaCategorie {
	width: 420px;
	height: 51px;
	margin-top: 5px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
	border: none;
}
.deltaLabel {
	margin-top: 30px;
	text-align: start;
}
.addPhoto {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 420px;
	height: 170px;
	background-color: #E8F1F6;
	border-radius: 3px;
	
}
input[type="file"] {
	z-index: 1;
	position: relative;
	bottom: 30px;
	right: 10px;
	opacity: 0;
}
input::file-selector-button {
	width: 173px;
	height: 40px;
	cursor: pointer;
}

.epsilon {
	z-index: 0;
	font-weight: bold;
	width: 173px;
	height: 36px;
	border-radius: 25px;	
	justify-content: center;
	text-align: center;
	margin-bottom: 10px;
	background: #b5c4cf;
	border-color: #39595f;
	border: 1px;

}		
.bouton {
	width: 173px;
	height: 36px;
	text-align: center;
	border: 1px;
	border-radius: 25%;
}

aside .fa-image {
	display: flex;
	margin-bottom: 10px;
	padding-right: 0;
	color:#b5c4cf;
	font-size: 76px;

}
.typo {
	font-size: 10px;
	text-align: center;
	color: black;
}
